name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        build_type: [Debug, Release]
        
    steps:
      - uses: actions/checkout@v4
      - name: Create Build Environment
        run: 
