name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        compiler: 
          - "gcc:14"
          - "clang:18"
        build_type: [Debug, Release]
    container:
      image: ghcr.io/DevByEagle/${{matrix.compiler}}
    steps:
      - uses: actions/checkout@v4
      - name: Create Build Environment
        run: 
